<!DOCTYPE html>

<html>

    <head>

        <title>Dublin Bus Predictions</title>

        <!--Google Fonts-->
        <link type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">

        <!--Responsive Design-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Encoding-->
        <meta charset="utf-8">

        <!--Bootstrap CSS Links-->
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>

        <!--Import Google Icon Font-->
        <link type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../static/materialize/css/materialize.min.css"  media="screen,projection"/>

        <!--Our Stylesheet, goes at bottom of CSS sheets to ensure precedence-->
        <link type="text/css" href="{{ url_for('static', filename='../static/style.css') }}" rel="stylesheet">

        <!--ChartJS-->
        <script type="text/javascript" src="../static/chart.js/dist/Chart.js"></script>

        <!--Material Design Library-->
        <script type="text/javascript" src="../static/materialize/js/materialize.min.js"></script>

       <!--Our functions-->
        <script type="text/javascript">

            // This is the url i.e. localhost:5000 etc.
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

            //map functions
            var markers = [];

            function createMarker(lat,lng,name,category,color,stop_id) {
                var marker_vis;
                if (category == '1' || category == "User Location"){
                    marker_vis = true
                } else {
                    marker_vis = false
                }
                var marker = new google.maps.Marker({
                  position: {lat:lat, lng:lng},
                  map: map,
                  visible: marker_vis,
                icon: {
                path: google.maps.SymbolPath.CIRCLE,
                strokeColor:color,
                strokeWeight: 1.5,
                fillColor: color,
                fillOpacity: 0.4,
                scale: 6
                },
                  title:name
              });
              marker.setMap(map);
              // === Store the category and name info as a marker properties ===
              marker.mycategory = category;
              marker.myname = name;
              marker.myid = stop_id;
              markers.push(marker);
              markers.infowindow = new google.maps.InfoWindow();
                
                
                //create different content of markers
              marker.addListener("click",function(){
                  if (marker.mycategory=="luas") {
                      var contentString='<h6>'+name+'</h6>'+'Luas';
                      markers.infowindow.setContent(contentString);
                      markers.infowindow.open(map, this);
                  } else if (marker.mycategory=="dart") {
                      var station_name = marker.myname.replace(/ /g, "%20");
                      var site = 'https://api.irishrail.ie/realtime/realtime.asmx/getStationDataByNameXML_withNumMins?StationDesc='+station_name+'&NumMins=20';
                      var yql = 'http://query.yahooapis.com/v1/public/yql?q=' + encodeURIComponent('select objStationData.Destination, objStationData.Exparrival from xml where url="' + site + '"') + '&format=xml&callback=?';
                      $.getJSON(yql, function (data) {
                          //window.alert(data.results.length)
                          var re = /[^0-9](?=[0-9])/g;
                          var contents="Trains in next 20 mins<br>";
                          for(i=0;i<data.results.length;i++)
                          {
                              var contents= contents+"<br>"+"To " +data.results[i].replace(re, '$& ')
                          }
                          var contentString='<h6>'+name+'</h6>'+contents;
                          markers.infowindow.setContent(contentString);
                      });
                      markers.infowindow.open(map, this);
                  }
                  else if (marker.mycategory=="dublinbike") {
                      var id = marker.myid;
                      var site = 'https://api.jcdecaux.com/vls/v1/stations/'+id+'?contract=Dublin&apiKey=a360b2a061d254a3a5891e4415511251899f6df1';
                      jQuery.getJSON(site,null,function(data){
                          var contentString='<h6>'+name+'</h6><br>'+'Available bikes: '+data.available_bikes + '<br>' +'Availbale stands: ' + data.available_bike_stands;
                          markers.infowindow.setContent(contentString);
                      });
                      markers.infowindow.open(map, this);
                  }
                  else {
                      var contentString = '<a href=/stop/' + marker.myid + '><h6>' + marker.myname + '</h6></a><br>Stop ID: ' + marker.myid;
                      console.log(marker.mycategory);
                      console.log(marker.myid);
                      console.log(marker.myname);
                      markers.infowindow.setContent(contentString);
                      markers.infowindow.open(map, this);
                  }
              });

              for(var i=0; i<markers.length; i++){
                  markers[i].infowindow = new google.maps.InfoWindow();
              }
            } // end createMarker

           // == shows all markers of a particular category, and ensures the checkbox is checked ==
            function show(category) {
              for (var i=0; i<markers.length; i++) {
                if (markers[i].mycategory == category) {
                  markers[i].setVisible(true);
                }
              }
            }

            // == hides all markers of a particular category, and ensures the checkbox is cleared ==
            function hide(category) {
                for (var i=0; i<markers.length; i++) {
                    if (markers[i].mycategory == category) {
                        markers[i].setVisible(false);
                    }
                }
            }

            function closeInfowindow(category){
                for (var i=0; i<markers.length; i++){
                    if (markers[i].mycategory == category){
                        markers[i].infowindow.close();
                    }
                }
            }

            // == a checkbox has been clicked ==
            function boxclick(box,category) {
                if (box.checked) {
                    show(category);
                } else {
                    hide(category);
                    closeInfowindow(category);
                }
            }

            // Google Map
            function myMap() {

                var mid_lat, mid_lon;

                $.getJSON($SCRIPT_ROOT + '/api/routes/{{users_route}}/{{direction}}', function (json) {
                    // Looping through elements in JSON file.

                    mid_lat = parseFloat(json.stops[parseInt(json.stops.length / 2)].lat);
                    mid_lon = parseFloat(json.stops[parseInt(json.stops.length / 2)].lon);

                    for (var i = 0; i < json.stops.length; i++) {
                        // Creating Marker
                        var marker = new google.maps.Marker({
                            position: {lat: parseFloat(json.stops[i].lat), lng: parseFloat(json.stops[i].lon)},
                            icon: {
                                path: google.maps.SymbolPath.CIRCLE,
                                strokeColor: '#4682b4',
                                strokeWeight: 1.5,
                                fillColor: '#4682b4',
                                fillOpacity: 0.4,
                                scale: 7
                            },
                            map: map
                        });

                        // Create infowindow on mouseover
                        var infowindow = new google.maps.InfoWindow();

                        // Contents of infowindow
                        var html = '<a href=stop/' + json.stops[i].id + '><h6>' + json.stops[i].name + '</h6></a>' + '<table>' +
                            "<tr><td>Stop ID: " + json.stops[i].id + "</td></tr>" +
                            "<tr><td>Other routes:" + json.stops[i].other_routes + "</td></tr>" +
                            '</table>';
                        marker.html = html;

                        // Name of station
                        marker.name = json.stops[i].name;

                        // Mouse Over Functionality
                        google.maps.event.addListener(marker, 'click', function () {
                            // Set contents
                            infowindow.setContent(this.html);
                            // Open infowindow
                            infowindow.open(map, this);
                        });
                    }

                });

                // Centre of map
                var myCenter = new google.maps.LatLng(53.3498, -6.2603);

                // Initializing canvas
                var mapCanvas = document.getElementById("map");

                // All
                jQuery.getJSON($SCRIPT_ROOT + "/api/stations", null, function (data) {
                    var stations = data.stops;
                    _.forEach(stations, function (station) {
                        var lat = station.latitude;
                        var lng = station.longitude;
                        var name = station.name;
                        var category = station.category;
                        var color = station.color;
                        var stop_id=station.stop_id;
                        var marker = createMarker(lat, lng, name, category, color,stop_id);
                    });

                    hide("dublinbike");
                    hide("luas");
                    hide("dart");
                });

                // Map options
                var mapOptions = {
                    center: myCenter,
                    zoom: 11,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                // Creating map
                map = new google.maps.Map(mapCanvas, mapOptions);

                //get user geolocation
                navigator.geolocation.getCurrentPosition(function(position) {
                    var geolocate = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    var marker = new google.maps.Marker({
                        position: geolocate,
                        map: map,
                        title: 'You are here',
                        icon: {
                            path: google.maps.SymbolPath.CIRCLE,
                            strokeColor: '#463274',
                            strokeWeight: 1.5,
                            fillColor: '#45ADA8',
                            fillOpacity: 0.4,
                            scale: 10
                        }
                    });

                    // Create infowindow on mouseover
                    var infowindow = new google.maps.InfoWindow();

                    // Mouse Over Functionality
                    google.maps.event.addListener(marker, 'click', function () {
                        // Set contents
                        infowindow.setContent("You are here!");
                        // Open infowindow
                        infowindow.open(map, this);
                    });
                });
            }

            $(document).ready(function() {
                $('select').material_select();
                $(".button-collapse").sideNav();
            });

        </script>

    </head>

    <body>

    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><i class="material-icons">directions_bus</i>Hustle Bustle</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
            <li><a href="route_search">Search by Route<span class="sr-only">(current)</span></a></li>
            <li><a href="stop_search">Search by Stop</a></li>
            <li><a href="https://www.dublinbus.ie/News-Centre/">News</a></li>
            {% if session.logged_in %}
                <li class="dropdown" id="My Routes"><a class="dropdown-toggle" href="myroutes" toggle="dropdown"> My Routes</a></li>
                <li class="dropdown" id="Logout"><a href="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            {% else %}
                <li class="dropdown" id="signup"><a class="dropdown-toggle" href="register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
                <li class="dropdown" id="login"><a class="dropdown-toggle" href="" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <form action='{{url_for('login')}}' class="form-horizontal"  method="post" accept-charset="UTF-8">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" name="username" class="form-control" value={{request.form.username}}>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="password" class="form-control" value={{request.form.password}}>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
              </li>
          {% endif %}
          <li><img class="img-responsive" id="weather" src="../static/images/flurries.png"/></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
          <li><a href="route_search">Search by route<span class="sr-only">(current)</span></a></li>
          <li><a href="stop_search">Search by stop</a></li>
          <li><a href="https://www.dublinbus.ie/News-Centre/">News</a></li>
          {% if session.logged_in %}
              <li class="dropdown" id="My Routes"><a class="dropdown-toggle" href="myroutes" toggle="dropdown"> My routes</a></li>
              <li class="dropdown" id="Logout"><a href="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
          {% else %}
              <li class="dropdown" id="signup"><a class="dropdown-toggle" href="register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
              <li class="dropdown" id="login"><a class="dropdown-toggle" href="" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                  <div class="dropdown-menu">
                      <form action='{{url_for('login')}}' class="form-horizontal"  method="post" accept-charset="UTF-8">
                          <div class="form-group">
                              <label>Username</label>
                              <input type="text" name="username" class="form-control" value={{request.form.username}}>
                          </div>
                          <div class="form-group">
                              <label>Password</label>
                              <input type="password" name="password" class="form-control" value={{request.form.password}}>
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                  </div>
              </li>
          {% endif %}
      </ul>
    </div>
    </nav>

        {% include 'includes/_messages.html' %}
        {% block content %}{% endblock %}
        {% from "includes/_formhelpers.html" import render_field %}
        
        <!--import Lodash-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

    </body>

</html>