{% extends "base.html" %}
{% block content %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <script>

        function initialize() {
            var input1 = document.getElementById('origin');
            var input2 = document.getElementById('destination');
            var dublinLatLong = new google.maps.LatLng(53.350140, -6.266155);
            var optionsAuto = {
                location: dublinLatLong,
                radius: 10000,
                types: ['geocode'],
                componentRestrictions: {
                    country: 'IE'
                }
            };
            var autocomplete1 = new google.maps.places.Autocomplete(input1, optionsAuto);
            var autocomplete2 = new google.maps.places.Autocomplete(input2, optionsAuto);
        }

        $(document).ready(function(){
            $("#now_arrive_depart").change(function(){
                 if (($(this).val() == 1) || ($(this).val() == 2)){
                     $('.date_time').collapse("show");
                     var today = moment().format('YYYY-MM-DD');
                     document.getElementById("date_input").value = today;
                 } else if ($(this).val() == 0){
                     $('.date_time').collapse("hide");
                 }
            });
        });

        //get user geolocation
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var user_lat = position.coords.latitude;
                var user_lon = position.coords.longitude;
                $("#users_lat").val(user_lat);
                $("#users_long").val(user_lon);
            });
        }


    </script>

    <div id="map"></div>

    <div class="container">
        <div class="row" id="inputs">
            <div class="col-sm-6">
                <span class="error_message">{{ error_html }}</span>
                <form method="POST">
                    <input type="text" class="form-control collapse in" id="origin" name="origin" placeholder="Start">
                    <input type="text" class="form-control" id="destination" name="destination" placeholder="End">

                    <select class="input-field" name="now_arrive_depart" id="now_arrive_depart">
                      <option value="0">Now</option>
                      <option value="1">Leave At</option>
{#                      <option value="2">Arrive By</option>#}
                    </select>

                    <input type="time" id="time_input" name="time" class="collapse date_time timepicker">
                    <input type="date" id="date_input" name="date" class="collapse date_time datepicker">

                    <input type="checkbox" id="use_location" name="user_location">
                    <label for="use_location">Use current location as start</label>

                    <button class="btn waves-effect waves-light" type="submit" name="submit" value="normal">GO!
                        <i class="material-icons right">send</i>
                    </button>

                    <input type="text" class="hidden_text_box" id="users_lat" name="users_lat_text">
                    <input type="text" class="hidden_text_box" id="users_long" name="users_long_text">


              </form>
            </div>
            <div class="col-sm-6 home_work">
                <form method="POST">
                    {% if session.logged_in %}
                    <button class="btn waves-effect waves-light" type="submit" name="submit" value="home">Get me Home
                        <i class="material-icons right">home</i>
                    </button>
                    <button class="btn waves-effect waves-light" type="submit" name="submit" value="work">Get me to Work
                        <i class="material-icons right">work</i>
                    </button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>


    <!--Script to add the map to the page. This has to be done on each individual page as we have a different map on the-->
    <!--stop info page-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVaetyYe44_Ay4Oi5Ljxu83jKLnMKEtBc&callback=myMap&libraries=places"></script>
    <script>window.onload=initialize();</script>
    <script>
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 0, // Creates a dropdown of 15 years to control year,
            min: true,
            max: 10,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });

        $('.timepicker').pickatime({
            default: 'now', // Set default time: 'now', '1:30AM', '16:30'
            fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
            twelvehour: false, // Use AM/PM or 24-hour format
            donetext: 'OK', // text for done-button
            cleartext: 'Clear', // text for clear-button
            canceltext: 'Cancel', // Text for cancel-button
            autoclose: true, // automatic close timepicker
            ampmclickable: true // make AM PM clickable
        });

        if (navigator.geolocation){
            document.getElementById("use_location").style.display = "block"
        } else {
            document.getElementById("use_location").style.display = "none"
        }

        $('#use_location').on('click', function(){
                $('#origin').collapse("toggle")
        });

    </script>

{% endblock %}