{% extends "base.html" %}

{% block content %}
    <h3>Welcome back, <small> {{session.username}}</small></h3>
    <p id="demo"></p>
    <script>
        var text = "Here are your preferred stops."+"<br>";
        var a = {{ stopnamelist|tojson }};
        var b = {{ stopidlist|tojson}};
        var c = 2084;
        for(i=0;i<{{Length}};i++) {
            var stop_num = b[i];
            text += "<form class='like' action='{{url_for('stop_search')}}' method='post'>"+"No" +stop_num + " "+a[i] +"<button class='button' value='" + stop_num + "' name='user_stop'><span>Go </span></button></form>"+"<br>"
        }
    document.getElementById("demo").innerHTML = text;

    </script>
{% endblock %}