{% extends "base.html" %}

{% block content %}
<script>
    // This sends information about the route to the html for display
    function populateStopInfo(){

        $.getJSON($SCRIPT_ROOT+'/api/routes/{{users_route}}/{{direction}}', function(json) {
            var bus_stop_info = '';
            for (var i = 0; i < json.stops.length; i++) {
                bus_stop_info += "<p><a href=stop/" + json.stops[i].id + ">" + json.stops[i].id + "</a>" + " - " + json.stops[i].name + "</p>"
            }
            document.getElementById("bus_stops").innerHTML = bus_stop_info
        });
    }

    // This function adds all of the routes to the routes textbox so we can autocomplete them
    // Currently takes the route from a CSV which can probably be done in a cleaner way
     function dataList() {
        var routeInfo;

        $.getJSON($SCRIPT_ROOT+'/api/all_routes', function(data) {
            $(data.route).each(function() {
                routeInfo = "<option value=" + this.route + ">" + this.origin + " &#8644 " + this.destination + "</option>";
                $('#routes').append(routeInfo);
            });
        });
    }
</script>

<div id="map"></div>
<div class="container">
    <div class="row" id="inputs">

        <div class="col-sm-6">

            <form method="POST">

                <div class="btn-group" id="hide_show_box" aria-label="...">
                    <div class="btn-group transport_checkbox" role="group">
                        <input type="checkbox" class="btn btn-default" id="dublinbikebox" onclick="boxclick(this,'dublinbike')">
                        <label class="ck-button" for="dublinbikebox"><img src="../static/images/bike.png"></label>
                    </div>
                    <div class="btn-group transport_checkbox" role="group">
                        <input type="checkbox" class="btn btn-default" id="dartbox"  onclick="boxclick(this,'dart')">
                        <label class="ck-button" id="example" for="dartbox"><img src="../static/images/dart.png"></label>
                    </div>
                    <div class="btn-group transport_checkbox" role="group">
                        <input type="checkbox" class="btn btn-default" id="Luasbox" onclick="boxclick(this,'luas')" value="Luas">
                        <label class="ck-button" for="Luasbox"><img src="../static/images/luas.png"></label>
                    </div>
                </div>

                <input type="text" class="form-control" id="user_route" name="user_route" list="routes" placeholder="Route">
                  <datalist id="routes"></datalist>
                  <!--This calls the script to add all of the routes to the textbox for autocomplete-->
                  <script>window.onload=dataList();</script>

                <input type="checkbox" data-toggle="toggle" data-on="Southbound" data-off="Northbound" data-size="mini" id="north_south" name="direction">

                <button type="submit" class="btn btn-default btn-circle">GO!</button>
          </form>
        </div>

        <h2>Route {{users_route}} Stops {{direction}}</h2>
        <div class="col-sm-6" id="list_the_bus_stops">
            <div id="bus_stops"></div>
            <!--Calls the function to add the autocomplete info to the search bar-->
            <!--Kind of slow at the moment. Need to make it faster.-->
            <script>window.onload = populateStopInfo();</script>
        </div>
    </div>
</div>

<!--Script to add the map to the page. This has to be done on each individual page as we have a different map on the-->
<!--stop info page-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkUZsgbKCDZNWjntnPv5mQJplie2G4h64&callback=myMap"></script>

{% endblock %}