{% extends "base.html" %}
{% block content %}

    <script>
        // Google Map
        function usersMap() {

{#            directionsService = new google.maps.DirectionsService();#}
{#            directionsDisplay = new google.maps.DirectionsRenderer();#}

{#            var polylineArray = [];#}

            {% for key, value in route_options.items() %}
                {%  if value["Route"] == 'dart' %}

                {% elif value["Route"] == 'luas' %}

                {%  else %}

                $.getJSON($SCRIPT_ROOT + '/api/routes/' + '{{ value["Route"] }}' + '/' + '{{ value["Direction"] }}', function (json) {

                    for (i = {{ value["Start_Stop_Sequence"] }} -1; i <= {{ value["End_Stop_Sequence"] }}-1; i++) {
                        var lat = json.stops[i].lat;
                        var lng = json.stops[i].lon;
                        var name = json.stops[i].name;
                        var id = json.stops[i].id;
                        var category = "{{ key }}";
                        var color = '#4682b4';
                        createMarker(lat, lng, name, category, color, id);
                    }
                });
                {% endif %}
            {% endfor %}

{#        var list_of_path = [];#}

{#            var flightPlanCoordinates = {{ lat_long_list | safe }};#}

{#            {% for pairing in lat_long_list %}#}
{#                list_of_path.push(parseFloat({{ pairing.lat | safe }}) + "|" + parseFloat({{ pairing.lng | safe }}));#}
{#                console.log({{ pairing | safe }});#}
{#            {% endfor %}#}

            // Centre of map
            var mid_lat = {{ route_options['1']['mid_point_lat'] | safe }};
            var mid_long = {{ route_options['1']['mid_point_lon'] | safe }};
            var myCenter = new google.maps.LatLng(mid_lat, mid_long);

            // Initializing canvas
            var mapCanvas = document.getElementById("map");

            // Map options
            var mapOptions = {
                center: myCenter,
                zoom: 12
            };

            // Creating map
            map = new google.maps.Map(mapCanvas, mapOptions);

            createMarker({{ src_lat }},{{ src_long }},"Source","User Location",'red', 1);
            createMarker({{ dest_lat }},{{ dest_long }},"Destination","User Location",'red', 1);

{#            var polylinePath = new google.maps.Polyline({#}
{#                path: flightPlanCoordinates,#}
{#                geodesic: true,#}
{#                strokeColor: '#FF0000',#}
{#                strokeOpacity: 1.0,#}
{#                strokeWeight: 3#}
{#            });#}
{##}
{#            polylinePath.setMap(map);#}
{##}
{#            runSnapToRoad(polylinePath);#}
{##}
{#            // Snap a user-created polyline to roads and draw the snapped path#}
{#            function runSnapToRoad(path) {#}
{##}
{#                var pathValues = [];#}
{#                for (var i = 0; i < path.getLength(); i++) {#}
{#                    pathValues.push(path.getAt(i).toUrlValue());#}
{#                }#}
{#                $.get('https://roads.googleapis.com/v1/snapToRoads', {#}
{#                    interpolate: true,#}
{#                    key: AIzaSyBVaetyYe44_Ay4Oi5Ljxu83jKLnMKEtBc,#}
{#                    path: pathValues.join('|')#}
{#                }, function(data) {#}
{#                    processSnapToRoadResponse(data);#}
{#                    drawSnappedPolyline();#}
{#                });#}
{#            }#}
{##}
{#        // Store snapped polyline returned by the snap-to-road service.#}
{#        function processSnapToRoadResponse(data) {#}
{#            snappedCoordinates = [];#}
{#            placeIdArray = [];#}
{#            for (var i = 0; i < data.snappedPoints.length; i++) {#}
{#                var latlng = new google.maps.LatLng(#}
{#                    data.snappedPoints[i].location.latitude,#}
{#                    data.snappedPoints[i].location.longitude);#}
{#                snappedCoordinates.push(latlng);#}
{#                placeIdArray.push(data.snappedPoints[i].placeId);#}
{#            }#}
{#        }#}
{##}
{#        // Draws the snapped polyline (after processing snap-to-road response).#}
{#        function drawSnappedPolyline() {#}
{#          var snappedPolyline = new google.maps.Polyline({#}
{#            path: snappedCoordinates,#}
{#            strokeColor: 'black',#}
{#            strokeWeight: 3#}
{#          });#}
{#          snappedPolyline.setMap(map);#}
{#          polylines.push(snappedPolyline);#}
{#        }#}
{##}
        }

        function moveCenter(lat, long){
            var center = new google.maps.LatLng(lat, long);
            map.panTo(center);
        }

        function hideAll() {
                for (var i=0; i<markers.length; i++) {
                    if (markers[i].mycategory != "User Location") {
                        markers[i].setVisible(false);
                    }
                }
            }

        $(document).ready(function(){
            $('.tooltipped').tooltip({delay: 50});
            $(".route_option_box").click(function(){
                 var isExpanded = $("#collapse_map").attr("aria-expanded");
                 if (isExpanded == 'true' || isExpanded == undefined){
                     hideAll();
                 } else if (isExpanded == 'false'){
                     show($(this).attr('id'));
                     var lat = parseFloat($(this).attr('value').split(',')[0]);
                     var long = parseFloat($(this).attr('value').split(',')[1]);
                     moveCenter(lat, long);
                 }
            });
        });

        $(window).bind('resize load', function() {
            if ($(this).height() < 415) {
                $('#collapse_map').removeClass('in');
                $('#collapse_map').addClass('out');
            } else {
                $('#collapse_map').removeClass('out');
                $('#collapse_map').addClass('in');
            }
        });

        function getLocation() {
            if (navigator.geolocation) {
                var lat = navigator.geolocation.coords.latitude;
                var long = navigator.geolocation.coords.longitude;
            }
        }

    </script>

    <div class="" id="collapse_map" data-toggle="false">
        <div id="map"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 route_options">
                <h3>Route Options</h3>
                {%  for route in route_options.items() %}
                <div id={{ route[0] }} value='{{ route[1]['mid_point_lat'] }}, {{ route[1]['mid_point_lon'] }}' class='route_option_box' data-toggle='collapse' data-target='#collapse_map'>
                    <div class='option_route'>{{ route[1]["Route"] }}</div>
                    <div class='option_src_dest'>{{ route[1]['Start_Stop_Name'] }} <b>&#8594</b> {{ route[1]['End_Stop_Name'] }}</div>
                    <div class='option_journey_time'>{{ route[1]["Predictions"][0]}}mins</div>
                    <span class="tooltipped running_man" data-position="top" data-delay="50" data-tooltip="{{ route[1]['walking_mins'] }}min walk"><img src="../static/images/walk_man.png"></span>
                    <span class="tooltipped journey_fare" data-position="top" data-delay="50" data-tooltip="{{ route[1]['fare'] }}"><img src="../static/images/euro.png"></span>
                </div>
                {% endfor %}
            </div>
        <div class="row">
            <div class="col-sm-12">
                <canvas id="chart"></canvas>
            </div>
        </div>
    </div>

    <!--Script to add the map to the page. This has to be done on each individual page as we have a different map on the-->
    <!--stop info page-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVaetyYe44_Ay4Oi5Ljxu83jKLnMKEtBc&callback=usersMap&libraries=places"></script>

    <!-- Script to refresh the map when it is unhidden. It appears as grey if this isn't used.-->
    <script>
        $('#collapse_map').on('shown.bs.collapse', function () {
            google.maps.event.trigger(map, 'resize');
        });
    </script>

    <script>
         var ctx = document.getElementById("chart");
         var chartDemo = new Chart(ctx, {
          type: 'line',
          data: {
              labels: {{ route_options['pretty_times'] | safe }},
              datasets: [
                  {%  for route in route_options.items() %}
                      {
                  fill: true,
                  label: '{{ route[1]["Route"] }}',
                  data: {{ route[1]["Predictions"] }},
                  backgroundColor: 'rgba(255, 193, 7, 0.2)',
                  borderColor:'rgba(255, 193, 7, 1)',
                  borderWidth: 1
                      },
                  {% endfor %} ]},
             options: {
                 maintainAspectRatio: false,
                 responsive: true,
                 title: {
                     fontSize: 15,
                     fontFamily: "'Open Sans', 'Helvetica', 'Arial', sans-serif",
                     display: true,
                     text: "Your Route Travel Times"
                 }
             }
         });
    </script>

{% endblock %}