{% extends "base.html" %}
{% block content %}

    <script>
        // Google Map
        function usersMap() {

            // Centre of map
            var mid_lat = {{ route_options['1']['mid_point_lat'] | safe }};
            var mid_long = {{ route_options['1']['mid_point_lon'] | safe }};
            var myCenter = new google.maps.LatLng(mid_lat, mid_long);

            // Initializing canvas
            var mapCanvas = document.getElementById("map");

            // Map options
            var mapOptions = {
                center: myCenter,
                zoom: 12
            };

            // Creating map
            map = new google.maps.Map(mapCanvas, mapOptions);

            createMarker({{ src_lat }},{{ src_long }},"Source","User Location",'red', 1);
            createMarker({{ dest_lat }},{{ dest_long }},"Destination","User Location",'red', 1);

            {% for key, value in route_options.items() %}
                {%  if value["Route"] == 'DART' %}
                    {% for thing in dart_lat_long_list %}
                        var lat = {{ thing['lat'] | safe}};
                        var lng = {{ thing['lng'] | safe}};
                        var name = "Dart Stop";
                        var id = '1';
                        var category = "{{ key }}";
                        var color = '#4682b4';
                        createMarker(lat, lng, name, category, color, id);
                    {% endfor %}

                {% elif value["Route"] == 'luas' %}
                    console.log("Luas options here");
                {%  else %}

                $.getJSON($SCRIPT_ROOT + '/api/routes/' + '{{ value["Route"] }}' + '/' + '{{ value["Direction"] }}', function (json) {

                    for (i = {{ value["Start_Stop_Sequence"] }} -1; i <= {{ value["End_Stop_Sequence"] }}-1; i++) {
                        var lat = json.stops[i].lat;
                        var lng = json.stops[i].lon;
                        var name = json.stops[i].name;
                        var id = json.stops[i].id;
                        var category = "{{ key }}";
                        var color = '#4682b4';
                        createMarker(lat, lng, name, category, color, id);
                    }
                });
                {% endif %}
            {% endfor %}
        }

        function moveCenter(lat, long){
            var center = new google.maps.LatLng(lat, long);
            map.panTo(center);
        }

        function hideAll() {
                for (var i=0; i<markers.length; i++) {
                    if (markers[i].mycategory != "User Location") {
                        markers[i].setVisible(false);
                    }
                }
            }

        $(document).ready(function(){
            $('.tooltipped').tooltip({delay: 50});
            $(".route_option_box").click(function(){
{#                 var isExpanded = $("#collapse_map").attr("aria-expanded");#}
{#                 if (isExpanded == 'true' || isExpanded == undefined){#}
                     hideAll();
{#                 } else if (isExpanded == 'false'){#}
                     show($(this).attr('id'));
                     var lat = parseFloat($(this).attr('value').split(',')[0]);
                     var long = parseFloat($(this).attr('value').split(',')[1]);
                     moveCenter(lat, long);
{#                 }#}
            });
        });

        $(window).bind('resize load', function() {
            if ($(this).height() < 415) {
                $('#collapse_map').removeClass('in');
                $('#collapse_map').addClass('out');
            } else {
                $('#collapse_map').removeClass('out');
                $('#collapse_map').addClass('in');
            }
        });

    </script>

    <div id="collapse_map">
        <div id="map"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 route_options">
                <h3>Route Options</h3>
                {%  for route in route_options.items() %}
                <div id={{ route[0] }} value='{{ route[1]['mid_point_lat'] }}, {{ route[1]['mid_point_lon'] }}' class='route_option_box' data-toggle='collapse'> <!--data-target='#collapse_map'-->
                    <div class='option_route'>{{ route[1]["Route"] }}</div>
                    <div class='option_src_dest'>{{ route[1]['Start_Stop_Name'] }} <b>&#8594</b> {{ route[1]['End_Stop_Name'] }}</div>
                    <div class='option_journey_time'>{{ route[1]["total_time"]}}mins</div>
                    <span class="tooltipped running_man" data-position="top" data-delay="50" data-tooltip="{{ route[1]['walking_mins'] }}min walk"><img src="../static/images/walk_man.png"></span>
                    <span class="tooltipped journey_fare" data-position="top" data-delay="50" data-tooltip="{{ route[1]['fare'] }}"><img src="../static/images/euro.png"></span>
                </div>
                {% endfor %}
            </div>
        <div class="row">
            <div class="col-sm-12">
                <canvas id="chart"></canvas>
            </div>
        </div>
    </div>

    <!--Script to add the map to the page. This has to be done on each individual page as we have a different map on the-->
    <!--stop info page-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVaetyYe44_Ay4Oi5Ljxu83jKLnMKEtBc&callback=usersMap&libraries=places"></script>

    <!-- Script to refresh the map when it is unhidden. It appears as grey if this isn't used.-->
    <script>
        $('#collapse_map').on('shown.bs.collapse', function () {
            google.maps.event.trigger(map, 'resize');
        });
    </script>

    <script>
         var ctx = document.getElementById("chart");
         var chartDemo = new Chart(ctx, {
          type: 'line',
          data: {
              {%  if route_options['1']['Route'] == 'DART' | safe %}
              labels: {{ route_options['2']['pretty_times'] | safe }},
              {%  else %}
              labels: {{ route_options['1']['pretty_times'] | safe }},
              {% endif %}
              datasets: [
                  {%  for route in route_options.items() %}
                      {
                  fill: true,
                  label: '{{ route[1]["Route"] }}',
                  data: {{ route[1]["Predictions"] }},
                  backgroundColor: '{{ route[1]["colour"] }}0.1)',
                  borderColor:'{{ route[1]["colour"] }}1)',
                  borderWidth: 1
                      },
                  {% endfor %} ]},
             options: {
                 maintainAspectRatio: false,
                 responsive: true,
                 title: {
                     fontSize: 15,
                     fontFamily: "'Open Sans', 'Helvetica', 'Arial', sans-serif",
                     display: true,
                     text: "Your Route Travel Times"
                 },
                 scales: {
                     yAxes: [{
                         display: true,
                         ticks: {
                             suggestedMin: 5
                             }
                     }]
                 }
             }
         });
    </script>

{% endblock %}