{% extends "base.html" %}
{% block content %}
  <div id="map"></div>

        <div class="container">
            <div class="row" id="inputs">

                <div class="col-sm-6">
                    <form method="post">
                        <input type="text" class="form-control" id="user_stop" name="user_stop" list="stops" placeholder="Stop Name">
                          <datalist id="stops"></datalist>
                          <!--This calls the script to add all of the routes to the textbox for autocomplete-->
                          <script>window.onload=dataList();</script>

                      <button type="submit" class="btn btn-default btn-circle">GO!</button>
                  </form>
                </div>
            </div>
        </div>
{% endblock %}