{% extends "base.html" %}


{% block content %}

<script>
    // This function adds all of the routes to the routes textbox so we can autocomplete them
    // Currently takes the route from a CSV which can probably be done in a cleaner way
     function dataList() {
        var stopInfo;

        $.getJSON($SCRIPT_ROOT+'/api/stops/', function(data) {
            for (var key in data.stops) {
                var name = data.stops[key][0];
                stopInfo = "<option value=" + key + ">" + name + "</option>";
                $('#stops').append(stopInfo);
            }
        });
     }
</script>

  <div id="map"></div>

        <div class="container">
            <div class="row" id="inputs">

                <div class="col-sm-6">
                    <form method="post">
                        <input type="text" class="form-control" id="user_stop" name="user_stop" list="stops" placeholder="Stop Name">
                          <datalist id="stops"></datalist>
                          <!--This calls the script to add all of the routes to the textbox for autocomplete-->
                          <script>window.onload=dataList();</script>

                      <button class="btn waves-effect waves-light" type="submit">GO!
                          <i class="material-icons right">send</i>
                      </button>
                  </form>
                </div>
            </div>
        </div>

<!--Script to add the map to the page. This has to be done on each individual page as we have a different map on the-->
<!--stop info page-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVaetyYe44_Ay4Oi5Ljxu83jKLnMKEtBc&callback=myMap"></script>

{% endblock %}