body {
    margin: 0 auto;
    background-color: #e0f2f1;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

nav, .btn{
    background-color: #009688;
}

.side-nav{
    background-color: #e0f2f1;
}

.nav-wrapper a:hover{
    text-decoration: none;
    color: #FFFFFF;
}

.nav-wrapper .brand-logo i{
    margin-left: 15px;
    margin-right: 5px !important;
    color: #FFC107;
}

nav .brand-logo{
    font-size: 1.4rem;
}

#map a{
    text-decoration: none;
}

#weather{
    height: 40px;
    margin-top: 10px;
}

#map{
    height: 300px;
    width: 100%;
    padding: 0;
    /*top: -17px;*/
}

#panomap, #pano{
    float: left;
    height: 400px;
    width: 50%;
}

.home_work button{
    width:250px;
}

#inputs #origin, #inputs #destination, #inputs select, #inputs button{
    margin-top: 8px;
    display: block;
}

#bus_stops div{
    display: inline-block;
}

#bus_stops a{
    text-decoration: none;
}

.login {
margin-bottom:5px;
}

.dropdown-menu {
    width: 300px !important;
}

#signup div, #login div{
    padding: 15px;
    padding-bottom: 10px;
}

.route_options div{
    display: inline-block;
    width: 100%;
}

.route_option_box{
    cursor: pointer;
    height: 60px;
    border-top: solid white 0.7px;
}

.route_options .option_route{
    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    background: #FFC107;
    color: #FFFFFF;
    text-align: center;
}

.route_options .option_src_dest{
    width: 50%;
    padding-left: 10px;
    vertical-align: middle;
}

.route_options .option_journey_time{
    width: 20%;
    vertical-align: middle;
    padding-left: 10px;
}

.route_options .running_man img, .route_options .journey_fare img{
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.ck-button{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.ck-button img{
    height: 25px;
    width: 25px;
    margin-top: 4px;
}

#hide_show_box{
    width: 100%;
}

#chart{
    height: 300px;
}


.transport_checkbox{
    width: 33.4%;
    background-color: #f8f8f8;
    display: inline-block;
    height: 35px;
    border-left: solid #e7e7e7 1px;
    border-right: solid #e7e7e7 1px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

#north_south{
    width: 60px;
}

input#user_route{
    margin-top: 0;
    margin-bottom: 5px;
    border-radius: 0 0 4px 4px;
}

input#user_stop{
    margin-top: 25px;
}


#list_the_bus_stops{
    height: 250px;
    overflow: auto;
    margin-top: 20px;
}

.info_box{
    width: 100%;
    border: solid 1px black;
}

.info_box div{
    display: inline-block;
}

.circle{
    background: deepskyblue;
    border-radius: 200px;
    color: white;
    height: 50px;
    width: 50px;
    border: solid 1px black;
    box-shadow: 100px 100px;
}

.circle p{
    margin-top: 13px;
    text-align: center;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #355C7D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 1px;
  width: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button2 {background-color: #9DE0AD;}
.button3 {background-color: #45ADA8;}

.info, .delete, .go {
    display:inline;
}

.info{
	float: left;
}

.go{
	float: left;
}

.hidden_text_box{
    display: none;
}

.alert:empty {
   display: none;
}

/* Landscape phones and down */
@media (max-width: 768px) {
    #map, #panomap, #pano{
        height: 200px;
    }

    .route_options .running_man img, .route_options .journey_fare img{
        display: none;
    }
}

 /*Landscape phones and down */
@media (max-height: 415px) {
    #panomap, #pano, #map{
        height: 0;
    }
}

 /*Tables and up */
@media (min-height: 900px) {
    #panomap, #pano, #map{
        height: 540px;
    }
}

